{% extends "admin_portal/base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-md-12 grid-margin">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-end flex-wrap">
      <div class="mr-md-3 mr-xl-5">
        <h2>Invoices,</h2>
        <p class="mb-md-0">SaaS Invoices.</p>
      </div>
      <div class="d-flex">
        <i class="mdi mdi-home text-muted hover-cursor"></i>
        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;Invoices History</p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="col-md-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <p class="card-title">Companies</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>#</th>
                <th>Company Name</th>
                <th>Email Send To</th>
                <th>TimeStamp</th>
                <th>Invoice</th>
            </tr>
          </thead>
          <tbody>
            {% for history in histories %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>
                    <a href="{{history.profile_id.account_site_url}}" target="_blank">{{history.profile_id.account_name}}</a>
                  </td>
                  <td>{{history.mail_send_to}}</td>
                  <td>{{history.timestamp | date:"d M, Y H:i"}}</td>

                  <td>
                    <a href="{{history.invoice_path}}" target="_blank">
                      <button class="btn btn-primary">View Invoices</button>
                    </a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
