{% extends "admin_portal/base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-md-12 grid-margin">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-end flex-wrap">
      <div class="mr-md-3 mr-xl-5">
        <h2>Invoices,</h2>
        <p class="mb-md-0">SaaS Invoices.</p>
      </div>
      <div class="d-flex">
        <i class="mdi mdi-home text-muted hover-cursor"></i>
        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;Invoices</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Company</h4>
            <form class="forms-sample" action="{% url 'invoices:index' %}" method="post">
              {% csrf_token %}
              <div class="col-md-4 form-group float-left">
                <label for="company_name">Company Name</label>
                <input type="text" class="form-control form-control-sm" id="company_name" name="company_name" value="" required>
              </div>
              <div class="col-md-4 form-group float-left">
                <label for="company_site">Company Site</label>
                <input type="text" class="form-control form-control-sm" id="company_site" name="company_site" value="" required>
              </div>
              <div class="col-md-4 form-group float-left">
                <label for="saas_url">SaaS URL</label>
                <input type="text" class="form-control form-control-sm" id="saas_url" name="saas_url" value="">
              </div>
              <div class="col-md-7 form-group float-left">
                <label for="analytics_id">Analytics ID</label>
                <select class="form-control form-control-sm" id="analytics_id" name="analytics_id" required>
                  {% for profile in profiles %}
                    <option value="{{profile.view_id}}">
                      {{profile.property.account.account_name}} >
                      {{profile.property.property_name}} >
                      {{profile.view_name}} ({{profile.view_id}})
                    </option>
                  {% endfor %}
                </select>

              </div>
              <div class="col-md-3 form-group float-left">
                <label for="amount_per_session">Per Session Amount (EURO)</label>
                <input type="hidden" name="amount_per_session" value="25.00">
                <input type="number" step="0.01" class="form-control form-control-sm" id="amount_per_session" disabled value="25.00" min="25.00" required>
              </div>
              <div class="col-md-2 form-group float-left">
                <label for="vat">VAT (%)</label>
                <input type="hidden" name="vat" value="24.00">
                <input type="number" step="0.01" class="form-control form-control-sm" id="vat" disabled value="24.00" min="24.00" required>
              </div>


                <div class="col-md-3 form-group float-left">
                    <button type="submit" class="btn btn-primary mt-4">Add Company</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="row">
<div class="col-md-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <p class="card-title">Companies</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Invoices</th>
            </tr>
          </thead>
          <tbody>
            {% for company in companies %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>
                    <a href="{{company.company_site}}" target="_blank">{{company.company_name}}</a>
                  </td>
                  <td>
                    {% if company.recent_invoice_name %}
                    <a href="{{company.recent_invoice_path}}" target="_blank">
                      <button class="btn btn-primary">Download ({{company.recent_invoice_name}})</button>
                    </a>
                    <button class="btn btn-primary" id="send_mail" value="{{company.id}}">Send Mail ({{company.recent_invoice_name}})</button>
                    {% else %}
                      <button class="btn btn-primary" disabled>No Invoices Available</button>
                    {% endif %}

                    <a href="{% url 'invoices:invoices_view' company.id %}">
                      <button class="btn btn-primary">View Invoices</button>
                    </a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>





<script>
    $("#send_mail").click(function () {
      $("#spin_loader").css("visibility", "visible");
      $("html").css("overflow", "hidden");

      var company_id = $(this).attr('value');
      var token = '{{csrf_token}}'

      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: '/invoices/send_invoice_mail',
        data: {
          'company_id': company_id,
        },
        dataType: 'json',
        success: function (data) {
          if (!data.res) {
            alert("error in sending mail!");
          }else {
            alert("mail sent!")
          }
          $("#spin_loader").css("visibility", "hidden");
          $("html").css("overflow", "scroll");
        }
      });

    });
</script>


{% endblock %}





