{% extends "admin_portal/base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-md-12 grid-margin">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-end flex-wrap">
      <div class="mr-md-3 mr-xl-5">
        <h2>Invoices,</h2>
        <p class="mb-md-0">SaaS Invoices.</p>
      </div>
      <div class="d-flex">
        <i class="mdi mdi-home text-muted hover-cursor"></i>
        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;Invoices</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Company</h4>
            <form class="forms-sample" action="{% url 'invoices:invoices_view' company.id %}" method="post">
              {% csrf_token %}
              <div class="col-md-4 form-group float-left">
                <label for="month">Month</label>
                <select class="form-control form-control-sm" id="month" name="month" required>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
              </div>
              <div class="col-md-4 form-group float-left">
                <label for="year">Year</label>
                <select class="form-control form-control-sm" id="year" name="year" required>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                </select>
              </div>
                <div class="col-md-3 form-group float-left">
                    <button type="submit" class="btn btn-primary mt-4">Generate</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="row">
    {% for invoice in invoices %}
        <div class="col-lg-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{invoice.name}}</h4>
                <div class="col-md-12" style="float:left">
                    <a href="{{invoice.path}}" target="_blank">
                        <h5 class="col-md-5" style="float:left;margin-top:30px">Invoice</h5>
                        <div class="col-md-7" style="float:left">
                            <img src="{% static 'admin_portal/images/icons/pdf-icon.png' %}" style="width:80px;height:80px;float:left"/>
                        </div>
                    </a>
                </div>
<!--                <div class="col-md-12" style="margin-top:15px;float:left">-->
<!--                    <a href="#" target="_blank">-->
<!--                        <h5 class="col-md-5" style="float:left;margin-top:30px">Lasku</h5>-->
<!--                        <div class="col-md-7" style="float:left">-->
<!--                            <img src="{% static 'admin_portal/images/icons/pdf-icon.png' %}" style="width:80px;height:80px;float:left"/>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
            </div>
          </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
