{% extends "admin_portal/base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-md-12 grid-margin">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-end flex-wrap">
      <div class="mr-md-3 mr-xl-5">
        <h2>Google Analytics,</h2>
        <p class="mb-md-0">Views.</p>
      </div>
      <div class="d-flex">
        <i class="mdi mdi-home text-muted hover-cursor"></i>
        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Analytics&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;<a href="{% url 'invoices:analytics_accounts' %}">Account</a>&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;<a href="{% url 'invoices:analytics_properties' property.account.account_id %}">Property</a>&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;Views</p>
      </div>
    </div>
      <div class="d-flex justify-content-between align-items-end flex-wrap">
          <a href="{% url 'invoices:refresh_views' property.property_id %}">
              <button class="btn btn-primary mt-2 mt-xl-0">Refresh Views</button>
          </a>
      </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Analytics Properties</h4>
        <p class="card-description">
          List of Registered Properties in Analytics Account - <code>{{ account }}</code> > <code>{{ property }}</code>
        </p>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for view in views %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ view.view_id }}</td>
                <td>{{ view.view_name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


