{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Axis Mundi</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin_portal/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin_portal/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'admin_portal/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin_portal/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'admin_portal/images/favicon.png' %}" />
  <script src="{% static 'admin_portal/js/jquery.min.js' %}"></script>
  <style>
    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>
  <div style="width:100%;height:100vh;position:absolute;z-index:10000;background:rgba(0, 0, 0, 0.5);visibility:hidden;" id="spin_loader">
    <div class="loader"></div>
  </div>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="{% url 'admin_portal:index' %}"></a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'admin_portal:index' %}"></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-4 w-100">
          <li class="nav-item nav-search d-none d-lg-block w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search" disabled>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown mr-1">
            <!-- Message Icon -->
          </li>
          <li class="nav-item dropdown mr-4">
            <!-- Notification Icon -->
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'admin_portal/images/icons/logo.jpeg' %}" alt="profile"/>
              <span class="nav-profile-name">Admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="mdi mdi-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{% url 'admin_portal:admin_logout' %}">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item {% if request.path == '/' %} active {% endif %}">
            <a class="nav-link" href="{% url 'admin_portal:index' %}">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item {% if 'businesses' in request.path %} active {% endif %}">
            <a class="nav-link" href="{% url 'businesses:index' %}">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Businesses</span>
            </a>
          </li>
          <li class="nav-item {% if 'invoices' in request.path %} active {% endif %}">
            <a class="nav-link" href="{% url 'ga_invoices:index' %}">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Invoices History</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        {% block content %}
        {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © axis_mundi 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Axis Mundi</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'admin_portal/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'admin_portal/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'admin_portal/vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'admin_portal/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'admin_portal/js/off-canvas.js' %}"></script>
  <script src="{% static 'admin_portal/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'admin_portal/js/template.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'admin_portal/js/dashboard.js' %}"></script>
  <script src="{% static 'admin_portal/js/data-table.js' %}"></script>
  <script src="{% static 'admin_portal/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'admin_portal/js/dataTables.bootstrap4.js' %}"></script>
  <!-- End custom js for this page-->
  <script src="{% static 'admin_portal/js/jquery.cookie.js' %}" type="text/javascript"></script>
</body>

</html>

