{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Axis Mundi</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin_portal/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin_portal/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin_portal/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'admin_portal/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'admin_portal/images/icons/logo.jpeg' %}" style="margin-left:30%" alt="logo">
              </div>
<!--              <h4>Hello! let's get started</h4>-->
<!--              <h6 class="font-weight-light">Sign in to continue.</h6>-->
              <form class="pt-3" method="post" action="{% url 'admin_portal:admin_login' %}">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" name="password" placeholder="Password">
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                      <p style="color:red">{{error}}</p>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'admin_portal/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'admin_portal/js/off-canvas.js' %}"></script>
  <script src="{% static 'admin_portal/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'admin_portal/js/template.js' %}"></script>
  <!-- endinject -->
</body>

</html>
