{% extends "admin_portal/base.html" %}
{% load static %}


{% block content %}
<div class="row">
<div class="col-md-12 grid-margin">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-end flex-wrap">
      <div class="mr-md-3 mr-xl-5">
        <h2>Businesses,</h2>
        <p class="mb-md-0">List of Businesses.</p>
      </div>
      <div class="d-flex">
        <i class="mdi mdi-home text-muted hover-cursor"></i>
        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">/&nbsp;Businesses</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Filter Businesses</h4>
            <form class="forms-sample" action="{% url 'businesses:index' %}" method="get">
                <div class="col-md-3 form-group float-left">
                    <label for="start_date">Starting Date</label>
                    <input type="date" class="form-control form-control-sm" id="start_date" name="start_date" value="{{start_date}}">
                </div>
                <div class="col-md-3 form-group float-left">
                    <label for="end_date">Ending Date</label>
                    <input type="date" class="form-control form-control-sm" id="end_date" name="end_date" value="{{end_date}}">
                </div>
                <div class="col-md-3 form-group float-left">
                    <label for="record_num">Record/Page</label>
                    <select class="form-control form-control-sm" id="record_num" name="rc_num">
                        <option {% if rc_num is 10 %} selected  {% endif %}>10</option>
                        <option {% if rc_num is 20 %} selected  {% endif %}>20</option>
                        <option {% if rc_num is 50 %} selected  {% endif %}>50</option>
                    </select>
                </div>
                <div class="col-md-3 form-group float-left">
                    <button type="submit" class="btn btn-primary mt-4">Search</button>
                </div>
                <div class="col-md-6 form-group float-left">
                    <button type="button" class="btn btn-primary mt-6" id="download_excel">Download Excel</button>
                    <button type="button" class="btn btn-primary mt-6" id="load_businesses">Load Businesses</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="row">
<div class="col-md-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <p class="card-title">Businesses</p>
      <div class="table-responsive">
        <table id="recent-purchases-listing" class="table">
          <thead>
            <tr>
                <th>#</th>
                <th>BID</th>
                <th>Name</th>
                <th>Email</th>
                <th>E-Img</th>
                <th>Mob</th>
                <th>Tel</th>
                <th>Reg.Time</th>
            </tr>
          </thead>
          <tbody>
            {% for business in businesses %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>
                      {% if business.business_url %}
                        <a href="{{business.business_url}}" target="_blank">{{business.business_id}}</a>
                      {% else %}
                        {{business.business_id}}
                      {% endif %}
                  </td>
                  <td>{{business.company_name}}</td>
                  <td>
                      {% if business.email_id %}
                        <a href="mailto:{{business.email_id}}">{{business.email_id}}</a>
                      {% else %}
                        {{business.email_id}}
                      {% endif %}
                  </td>
                  <td>{% if business.email_img %}<img style="width:auto; height:auto; border-radius:0" src="{{business.email_img.url}}" alt="">{% endif %}</td>
                  <td>{{business.mobile}}</td>
                  <td>{{business.telephone}}</td>
                  <td>{{business.registration_time | date:"d M, Y H:i"}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
          {% if businesses.has_other_pages %}
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                  {% if businesses.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ businesses.previous_page_number }}&start_date={{start_date}}&end_date={{end_date}}&rc_num={{rc_num}}">Previous</a></li>
                  {% endif %}
                  <li class="page-item current"><a class="page-link" href="#">{{ businesses.number }}/{{businesses.paginator.page_range|length}}</a></li>

<!--                  {% for i in businesses.paginator.page_range %}-->
<!--                    {% if businesses.number == i %}-->
<!--                        <li class="page-item current"><a class="page-link" href="#">{{ i }}</a></li>-->

<!--                    {% else %}-->
<!--                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>-->
<!--                    {% endif %}-->
<!--                  {% endfor %}-->
                  {% if businesses.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ businesses.next_page_number }}&start_date={{start_date}}&end_date={{end_date}}&rc_num={{rc_num}}">Next</a></li>
                  {% endif %}
              </ul>
<!--            {{businesses.number}}/{{businesses.paginator.page_range|length}}&nbsp;pages-->
            </nav>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>





<!--            {{businesses.number}}/{{businesses.paginator.page_range|length}}&nbsp;pages-->

<script>
    $("#load_businesses").click(function () {

      var token = '{{csrf_token}}'

      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: '/businesses/businesses_load',
        dataType: 'json',
        success: function (data) {
          alert(data.message);
        }
      });

    });


    $("#download_excel").click(function () {

      $("#spin_loader").css("visibility", "visible");
      $("html").css("overflow", "hidden");

      var token = '{{csrf_token}}'
      var start_date = $('#start_date').val();
      var end_date = $('#end_date').val();

      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: '/businesses/businesses_excel',
        data: {
          'start_date': start_date,
          'end_date': end_date
        },
        dataType: 'json',
        success: function (data) {
          if (!data.res) {
            alert("no business found in date range, "+ start_date + " to " + end_date);
          }else {
            $.ajax({
                url: document.location.origin+"/media/temp.xlsx",
                method: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = 'businesses.xlsx';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            });
          }
          $("#spin_loader").css("visibility", "hidden");
          $("html").css("overflow", "scroll");
        }
      });

    });

</script>


{% endblock %}




